#app blockquote {
  margin: 0 0 2em;
  padding: 1.5em 1.5em 1.5em 1.5em;

  transition: border-color 0.3s;
  font-size: 1.1rem;
  background-color: #fff5c5;
  border-left-color: #ffe564;
  border-left-width: 9px;
  border-left-style: solid;
}
